################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Closest 2 Points/FileContentIndex/a3ed3a89-e32c-403c-9ffc-d318ec948991.vsidx
/Closest 2 Points/x64/Debug
/.vscode
